@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    margin: 0 !important;
    padding: 0 !important;
}

pre div {
    margin: 0 !important;
    padding: 1rem !important;
    border-radius: 0.5rem !important;
}

.prose pre {
    background-color: transparent !important;
    padding: 0 !important;
}
